@use './partials/variables' as *;

@import '@fontsource/montserrat/index.css'; 
@import '@fontsource/montserrat/700.css';


$fa-font-path: '../webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
 @import '@fortawesome/fontawesome-free/scss/solid.scss';
 @import 'bootstrap/scss/bootstrap';

 body{
    font-family: $main-font;
    color: $text-color;
 }
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
img {
   max-width: 100%;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 1rem;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}